body main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
}

.material-icons {
    font-size: 2.25rem;
}

main {
    flex: 1 0 auto;
}

.text-over-carousel {
    color: white;
    text-shadow: 3px 3px 10px #000000;
    z-index: 1 !important;
    position: absolute !important;
    right: 40%;
    left: 40%;
}

.section {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.top-box {
    box-shadow: inset 0 150px 200px -4px rgba(0, 0, 0, 0.3);
}

body,
html {
    height: 100%;
}

.item-1,
.item-2,
.item-3 {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-1 {
    background-image: url("../Photos/Carousel-1.jpg");
}

.item-2 {
    background-image: url("../Photos/Carousel-2.jpg");
}

.item-3 {
    background-image: url("../Photos/Carousel-3.jpg");
}

.carousel {
    height: 700px !important;
}

.middle-indicator {
    position: absolute;
    top: 50%;
}

.middle-indicator-text {
    font-size: 4.2rem;
}

a.middle-indicator-text {
    color: white !important;
    background-color: black;
}

.content-indicator {
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.indicators {
    visibility: visible;
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-copyright {
    background-color: #12005e !important;
}

.page-footer {
    position: fixed;
    min-width: 100%;
    bottom: 0;
}